@page "/mytasks"
<button class="btn btn-success mb-4" @onclick="AddTask">Add Task</button>
@if (tasks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var taskItem in tasks)
    {
        <div class="d-flex col col-lg-4 border-bottom" @key="taskItem">
            <div class="p-2 flex-fill">
                <input type="checkbox"
                       checked="@taskItem.IsComplete"
                       @onchange="@(()=>CheckboxChecked(taskItem))" />
                <span class="@((taskItem.IsComplete? "completed-task" : ""))">
                    @taskItem.TaskName
                </span>
            </div>
            <div class="p-1">
                <button class="btn btn-outline-danger btn-sm"
                        @onclick="@(()=>DeleteTask(taskItem))">
                    <span class="oi oi-trash"></span>
                </button>
            </div>
        </div>
    }
}
@if (showingQuickTask)
{
    <QuickTask TaskItem=newTask
               OnCancel="@(()=>showingQuickTask=false)"
               OnSubmit="SubmitTask" />
}